:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --poppins-font-family: 'Poppins', sans-serif;
    --open-sans-font-family: 'Open Sans', sans-serif;
}

body {
    font-family: var(--open-sans-font-family);
    margin: auto;
}

/* Head */

.background-img {
    background-image: url(/images/bg-hero-desktop.svg);
    margin-top: -10px;
    background-color: var(--very-pale-cyan);
    background-repeat: no-repeat;
}

.inner-container {
    padding: 2rem 4rem;
}

.head-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

.huddle-img img {
    width: 12rem;
}

.btn-neutral {
    width: 12rem;
    height: 2.8rem;
    font-size: 14px;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    display: flex;
    padding-bottom: 2rem;
}

.title-text {
    width: 36rem;
    padding-top: 6rem;
    padding-right: 4rem;
}

.title {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.text {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.btn-primary {
    width: 17rem;
    height: 3rem;
    font-size: 14px;
    background-color: var(--pink);
    color: white;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-img img {
    width: 39rem;
    height: 31rem;
}

/* Card */

.mt-container {
    margin-top: 4rem;
}

.card {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    height: 28rem;
    margin-bottom: 2rem;
    background-color: #fff;
}

.card-title-text {
    width: 30rem;
    height: 16rem;
    padding-top: 8rem;
    padding-left: 6rem;
    padding-right: 8rem;
}

.card-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.card-text {
    color: gray;
    line-height: 1.5;
    font-size: 17px;
}

.card-img img {
    width: 25rem;
    height: 20rem;
}

.card-img-left {
    padding-left: 6rem;
    padding-right: 4rem;
}

.right-card-text {
    padding-right: 2rem;
}

/* Call to action */

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 17rem;
    height: 14rem;
    width: 44rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    margin-bottom: -4rem;
    background-color: #fff;
}

.call-to-action-title {
    font-size: 28px;
}

/* Footer */

.footer {
    background-color: hsl(192, 100%, 9%);
    position: absolute;
    z-index: -1;
    color: white;
    width: 100%;
}

.huddle-footer-img {
    margin-top: 10rem;
    margin-left: 6rem;
}

.huddle-footer-img img {
    width: 14rem;
}

.filter-white {
    filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(174deg) brightness(104%) contrast(101%);
}

.inner-footer-card {
    margin: 2rem 6rem 6rem 6rem;
    display: flex;
    justify-content: space-between;
}

.address-contact {
    width: 24rem;
}

.footer-item {
    margin-bottom: 1.5rem;
    display: flex;
}

.icon-image {
    margin-right: 1.5rem;
}

.about-us {
    margin-left: 2rem;
    width: 12rem;
}

.careers {
    margin-right: 6rem;
}

.social {
    display: flex;
    flex-direction: column;
    width: 16rem;
    align-items: start;
}

.social-icons {
    display: flex;
    width: 100%;
    margin-bottom: 10rem;
}

.icons {
    width: 20px;
    filter: invert(96%) sepia(100%) saturate(2%) hue-rotate(257deg) brightness(109%) contrast(100%);
    padding: 0.3rem;
}

.copyright {
    font-size: 12px;
}